/*This relates CSS style file relates to the web pages*/
body {
    margin: 0;
    padding: 0;
	color: black;
	font-size: 16px;
	font-family: 'Time New Roman','Arial',;
	background-color: #D6ECFF;
	
}

.nav {
    
    
    list-style: none;
    text-align: center;
	
	/*overflow: hidden;
	border-radius:20px;*/
}

.nav > li {
    display: inline-block;
    font-size: 20px;
    padding: 0 25px 0 25px;
    
}

.nav > li > a{
    text-decoration: none;
    color: #00D09C;
    }

.nav > li > a:hover{
    color: #00D09C;
}

h1{
color:#0000FF;
text-align:center;
    font-size: 32px;
}
h2{
    color:gray;
    text-align: center;
    font-size: 18px;
}

.home
{
    
    border: solid #ff4499;
    text-align: justify;
    max-width: 400px;
    margin: 145px 89px 80px 55px;
  /*  background: rgba(0,0,0,0.8);*/
    background: #5BBF3F;
    padding: 30px;
    border-radius: 25px;
    display: flex;
    box-shadow: 0 0 50px #5BBF3F;
}


.homepic1
{
    background: #5BBF3F;
    border:  solid #ff4499;
    max-width: 400px;
    margin: 20px 66px 55px 25px;
    padding: 20px; 
    border-radius: 25px;
    float: right;
    
    
}

.iframe-container {
    position: relative;
	background-color: #99C
	width: 50%;
    padding-bottom: 0;
    height: auto;
}

.iframe-container iframe
{
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
}

/* This is for the contact page*/
.wrap
{
  position: absolute;
    top: auto;
    transform: translateY(-50%);
    width: 100%;
      
}

.contus-form
{
    
    max-width: 600px;
    margin: 0 auto;
  /*  background: rgba(0,0,0,0.8);*/
    background: transparant;
    padding: 30px;
    border-radius: 25px;
    display: flex;
    box-shadow: 0 0 100px rgba(0,0,0,0.55);

}

.inputs
{
    
    display: flex;
    flex-direction: column;
    margin-right: 4%;
    
}

.inputs, .msg
{
  width: 45%;  
}
 .inputs .input,
.msg textarea
{
    margin: 12px 0;
    background: transparent;
    border:0;
    border-bottom: 1px solid #FF0000;
    padding: 10px;
    width: 100%;
}

.msg textarea
{
    height: 196px;
}

::-webkit-input-placeholder{
    color: FF0000;
}

::-maz-input-placeholder{
    color: FF0000;
}

::-ms-input-placeholder{
    color: FF0000;
}

.btn
{
    background: #FF0000;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    color: #00FF00;
    cursor: pointer;
    
}

@media screen and (max-width: 550px)
{
    .contus-form{
        flex-direction: column;
    }
    .msg textarea{
        height: 90px;
    }
    .inputs, .msg
    {
        width: 100%;
    }
}
/*
	
	border-top: 0;
	border-right: 1px solid #b7b7b7;
	border-bottom: 0;
	border-left: 1px solid #b7b7b7;
}/*

.masthead {
	text-align: right;
	background-color: #0000FF;
	height:100px;
    width: auto
}
*//*
.column_l {
	height:1450px;
	width: 1252px;
	margin: auto;
	padding: 0 15px;
	border-style:solid;
    border-color:#FFD700;
	border-radius:20px;
}



#masthead p {

	font-size: 11px;
	color: #fff;
	margin: 10px 10px 0;
}*/

/*
#nav ul {
background-color: #0088FF;
	list-style-type: none;
	color: #FFFFFF;
	width: 100%;
	margin: 0;
	padding: 0;
}
#nav li {
	float: left;
	
}


#column_l {
	
	width: 1000px;
	height: 900px;
	margin: auto;
	padding: 0 15px;
	background-color: #7FFF00;
	
	border-style:solid;
    border-color:#FFD700;
	border-radius:20px;
}
#column_l p{

font-size: 18px;
color:white;
}

#column_l h1{color:white;
text-align:center;
}

#column_2 {
    
 	width: 97%;
	border: 1px solid #c9c9c9;
	border-radius:20px; 
	margin: 0;
	padding: 0 15px;
	background-color:#3AA7A3;
}
#column_2    h2{color:red;
text-align:center;}

#column_2 p{

font-size: 18px;
color:white;
}
	
#footer {
width: 1000px;
margin:auto;
	border-radius:20px;
	text-align: center;
	background-color: #1D5452;
	padding-top: 5px;
	padding-bottom: 5px;
}





#footer p {
	font-size: 16px;
	line-height: 14px;
	color:#CCCC00 ;
	margin: 1px;
	padding: 1px;

}




#footer a {
	color: #3AA7A3;
	text-decoration: underline;
}
#footer a:hover {
	color: #CCCC00;
	text-decoration: underline;
}
